<div class="page">
  <div class="page__container">
    <h1 class="page__title"><%= I18n.t('glossaries.title') %></h1>
    <%= I18n.t('glossaries.subtitle') %>
    <table class="glossary-table">
      <tr>
        <th><%= I18n.t('glossaries.word') %></th>
        <th><%= I18n.t('glossaries.definition') %></th>
      </tr>
      <% @glossaries.each do |glossary| %>
        <tr>
          <td><%= glossary.word %></td>
          <td><%= glossary.definition %></td>
        </tr>
      <% end %>
    </table>
    <%= will_paginate @glossaries %>
  </div>
</div>


