<%= form_for [:cms, @glossary] do |f| %>
  <div class="form-inputs">
    <div class="field">
      <%= f.label :word %>
      <%= f.text_field :word, class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :definition %>
      <%= f.text_area :definition, class: 'form-control' %>
    </div>

    <div class="glossary__form-actions form-actions">
      <button type="submit">
        <%= t('glossaries.submit') %>
      </button>
    </div>
  </div>
<% end %>
