<tr>
   <td><%= user.id%></td>
   <td><%= user.name%></td>
   <td><%= user.email%></td>
   <td><%= l(user.created_at, format: :short) %></td>
   <td><%= user.institution%></td>
   <td><%= user.occupation%></td>
</tr>
