<article class="page">
  <div class="page__container">
    <h1 class="page__title">ESTIMATIVAS DA ACURÁCIA DO MAPEAMENTO DA COBERTURA DO SOLO PELO PROJETO MAPBIOMAS</h1>
    <p>A análise de acurácia é a principal forma de avaliação da qualidade do mapeamento realizado pelo Mapbiomas. Além de dizer qual a taxa de acerto geral dos mapas, a análise de acurácia também revela estimativas da taxa de acerto de cada classe mapeada e também a fração de área de cada classe de cobertura e uso do solo que deixamos de mapear corretamente. O MapBiomas avaliou a acurácia do mapeamento global e para cada classe cobertura para cada ano entre 2000 e 2016.</p>

    <p>As estimativas da acurácia foram baseadas na avaliação de uma amostra de píxeis, que chamamos de base de dados de referência. O número de píxeis na base de <b>dados de referência</b> foi pré-determinado por técnicas de amostragem estatística. Em cada ano, cada píxel da base de dados de referência foi avaliado cuidadosamente por três técnicos treinados em interpretação visual de imagens Lansat. A avaliação de um píxel em um determinado ano foi considerado válido apenas quando dois ou três técnicos concordaram quanto à classe observada no píxel. A avaliação da acurácia é então feita usando métricas que comparam a classe mapeada com a classe avaliada pelos técnicos na base de dados de referência. A acurácia reportada c.a. de 5% de erro para cada classe mapeada em cada ano.</p>

    <p>Em cada ano, a análise de acurácia é feita a partir da tabulação cruzada das frequências amostrais das classes mapeadas e reais, no formato da Tabela 1. As frequências <b><i>n<sub>i,j</sub></i></b> representam o número de píxeis na amostra classificados como classe i, e avaliados como classe j. Os totais marginais de linha,<%= image_tag "formula1.png", class: "inside_text" %>, representam o número de amostras mapeadas como classe i, enquanto que os totais marginais de coluna,<%= image_tag "formula2.png", class: "inside_text" %> , representam o número de amostras que foram avaliadas pelos técnicos como classe j. A Tabela 1 é chamada de <b>matriz de erros</b> ou <b>matriz de confusão</b>.</p>

    <p><b>Tabela 1:</b> Matriz de erros amostral genérica</p>
    <%= image_tag "tabela1_mapbiomas.png" %>
    <br>
    <br>
    <p>A partir dos resultados da Tabela 1, as proporções da área total do mapeamento em cada célula da tabela são estimadas por <%= image_tag "formula3.png", class: "inside_text" %>, onde <%= image_tag "formula4.png", class: "inside_text" %> é a proporção de píxeis mapeados como classe i em todo o mapeamento. A matriz de valores <%= image_tag "formula5.png", class: "inside_text" %> é então usada para gerar:</p>

    <ol class="numeric_list">
      <li>
        <b>As acurácias do usuário:</b> São as estimativas das frações de píxels do mapeamento, para cada classe, corretamente classificados. A acurácia do usuário está associada ao <b>erro de comissão</b>, que é o erro cometido ao atribuir um pixel à classe i, quando este pertence a alguma outra classe. A acurácia do usuário para a classe i é estimada por <%= image_tag "formula6.png", class: "inside_text" %> e o erro de comissão por <%= image_tag "formula7.png", class: "inside_text" %>. Essas métricas estão associadas a <b>confiabilidade</b> da de cada classe mapeada.
      </li>
      <li>
        <b>Acurácias do produtor:</b> São as estimativas das frações de píxels de cada classe corretamente atribuídos às suas classes pelo mapeamento. A acurácia do produtor está associada ao <b>erro de omissão</b>, que ocorre quando deixamos de mapear um pixel da classe j corretamente. A acurácia do produtor para a classe j é estimada por <%= image_tag "formula8.png", class: "inside_text" %> e o erro de omissão por <%= image_tag "formula9.png", class: "inside_text" %>. Essas métricas estão associadas à <b>sensibilidade</b> do classificador, ou seja, a capacidade de distinguir corretamente determinada classe entre demais.
      </li>
      <li>
        <b>Acurácia global:</b> É a estimativa da proporção global de píxeis do mapeamento corretamente mapeada. A estimativa é dada por <%= image_tag "formula10_n.png", class: "inside_text" %>, a soma da diagonal principal da matriz de proporções. O complementar da acurácia, ou o <b>erro total</b> <%= image_tag "formula11.png", class: "inside_text" %> ainda é decomposto em discordância de área e discordância de alocação (XXX). A discordância de área mede a fração do erro atribuída à quantidade de área atribuída incorretamente às classes pelo mapeamento, enquanto a discordância de alocação à proporção de erros de deslocamento.
      </li>
    </ol>

    <p>A matriz também provém estimativas dos diferentes tipos de erros. Por exemplo, é possível ver através dessas a estimativa da composição de área de cada classe mapeada. Assim, além da taxa de acerto da classe mapeada como floresta, por exemplo, estimamos também qual a fração dessas áreas que podem ser pastagens ou outras classes de cobertura e uso do solo, para cada ano. Entendemos que esse nível de transparência informa os usuários e maximiza o potencial do uso do mapeamento pelos vários tipos de usuários. Para isso, construímos um <%= link_to 'aplicativo', 'analysis' %> para facilitar a visualização da acurácia e dos erros do mapeamento</p>
    <br>

    <h2 class="page__subtitle">Entenda os gráficos</h2>
    <br>

    <h3 class="page__section">Estatísticas gerais</h3>
    <p>Mostram a acurácia total média anual e o erro decomposto em discordância de área e alocação.</p>
    <%= image_tag "acuracia_img1.png" %>
    <br>

    <h3 class="page__section">Gráfico 1. Gráfico da Acurácia Total Anual:</h3>
    <p>Este gráfico mostra a acurácia total e o erro total por ano. O erro total é decomposto em discordância de área e de alocação. A acurácia é plotada na parte superior e os erros na parte inferior do gráfico.</p>
    <%= image_tag "acuracia_img2.png" %>
    <br>

    <h3 class="page__section">Gráfico 2: Matriz de erros</h3>
    <p>Esse gráfico mostra a acurácia do usuário, do produtor, e as confusões entre classes, para cada ano. O primeiro mostra as confusões de cada classe mapeada. O segundo mostra as confusões de cada classe real.</p>
    <%= image_tag "acuracia_img3.png" %>
    <br>
    <%= image_tag "acuracia_img4.png" %>
    <br>

    <h3 class="page__section">Gráfico 3: Histórico de classes</h3>
    <p>Esse gráfico permite inspecionar as confusões de uma determinada classe ao longo do tempo. A acurácia do usuário e do produtor para cada classe é exibida, junto com as confusões em cada ano.</p>
    <%= image_tag "acuracia_img5.png" %>
    <br>
    <%= image_tag "acuracia_img6.png" %>
    <br>
    <center>
      <%= link_to 'analysis' do %>
        <button class="primary">Acesse o painel de estatística de acurácia</button>
      <% end %>
    </center>
  </div>
</article>
