<article class="page">
  <div class="page__container">
    <h1 class="page__title">Downloads</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus tellus at dolor consectetur, vel accumsan turpis feugiat. Suspendisse placerat, lectus a auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed cursus tellus at dolor consectetur, vel accumsan turpis feugiat.Suspendisse placerat, lectus a auctor tristique, felis massa aliquet orci, non congue mi orci</p>
    <div class="downloads">
      <div class="downloads__mapbiomas_collection">
        <div class="downloads__icon">
          <%= link_to (image_tag "icon-collection.png"), page_path('database/mapbiomas_collection') %>
        </div>
        <strong><%= link_to 'Mapas das coleções', page_path('database/mapbiomas_collection') %></strong>
      </div>
      <div class="downloads__reference_maps">
        <div class="downloads__icon">
          <%= link_to (image_tag "icon-reference-pb.png"), page_path('database/reference_maps') %>
        </div>
        <strong><%= link_to 'Mapas de referência', page_path('database/reference_maps') %></strong>
      </div>
      <div class="downloads__landsat_mosaics">
        <div class="downloads__icon">
          <%= link_to (image_tag "icon-landsat.png"), page_path('database/landsat_mosaics') %>
        </div>
        <strong><%= link_to 'Mosaicos Landsat', page_path('database/landsat_mosaics') %></strong>
      </div>
    </div>
  </div>
</article>
