<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script>
$(function() {
  $(".video").click(function () {
    var theModal = $(this).data("target"),
    videoSRC = $(this).attr("data-video"),
    videoSRCauto = videoSRC + "?modestbranding=0&rel=0&controls=1&showinfo=1&html5=1&autoplay=1";
    $(theModal + ' iframe').attr('src', videoSRCauto);
    $(theModal + ' button.close').click(function () {
      $(theModal + ' iframe').attr('src', videoSRC);
    });
  });
});
</script>

<section class="home__video">
  <div class="home__video-content">
    <p><%= image_tag "brand.svg" %></p>
    <p><strong>MapBiomas</strong> is a multi-institutional initiative involving universities, NGOs and technology companies that have come together to contribute to the understanding of Brazilian territory transformations based on the annual mapping of land cover and use in Brazil.</p>
  <button class="button primary video" data-video="https://www.youtube.com/embed/AAEbeMQlJc4" data-toggle="modal" data-target="#videoModal">Watch Project Video</button>
  </div>
  <video autoplay loop id="video-background" muted poster="https://storage.googleapis.com/mapbiomas/Mapbiomas55sec.jpg">
    <source src="https://storage.googleapis.com/mapbiomas/Mapbiomas55sec.mp4" type="video/mp4">
  </video>
</section>

<div class="modal-video fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <button type="button" class="button primary close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <iframe width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>
</div>

<article class="home__coating">
  <div class="home__coating-content">
    <%= image_tag "cobertura.png", class: "home__coating-image" %>
    <h1 class="page__title"><a href="http://mapbiomas.org/map#coverage">COVERING AND USE OF SOIL</a></h1>
    <p>Discover the land cover & land use of Brazil between 2000 and 2016</p>
    <a class="button primary" href="http://mapbiomas.org/map#coverage">Access here</a>
  </div>
</article>

<article class="home__changes">
  <div class="home__changes-content">
    <%= image_tag "sankey.png", class: "home__changes-image" %>
    <h1 class="page__title"><a href="http://mapbiomas.org/map#transitions">CHANGES</a></h1>
    <p>Follow the changes of the territory <br> in the last 17 years </p>
    <a class="button primary"  href="http://mapbiomas.org/map#transitions">Access here</a>
  </div>
</article>

<article class="home__numbers">
  <div class="home__numbers-content">
    <%= image_tag "chart.png", class: "home__numbers-image" %>
    <h1 class="page__title"><a href="http://mapbiomas.org/stats">NUMBERS</a></h1>
    <p>Navigate coverage statistics and <br> land use in Brazil</p>
    <a class="button primary"  href="http://mapbiomas.org/stats">Access here</a>
  </div>
</article>

<article class="home__quality">
  <div class="home__quality-content">
    <%= image_tag "landsat.png", class: "home__quality-image" %>
    <h1 class="page__title"><a href="/pages/accuracy-analysis">QUALITY OF THE DATA</a></h1>
    <p>Lern about the accuracy of MapBiomas Maps</p>
    <a class="button primary"  href="/pages/accuracy-analysis">Access here</a>
  </div>
</article>

<article class="home__partners">
  <div class="home__partners-content">
    <h1 class="page__title">MAPBIOMAS IS A INITIATIVE OF</h1>
    <div class="text-center">
      <%= image_tag "oc.png", class: "home__partners-image" %>
      <%= image_tag "seeg.png", class: "home__partners-image" %>
    </div>

    <h1>CO-CREATORS</h1>
    <%= image_tag "lapig.png" %>
    <%= image_tag "sos-pantanal.png" %>
    <%= image_tag "sos-mata-atlantica.png" %>
    <%= image_tag "imazon.png" %>
    <%= image_tag "ufrgs.png" %>
    <%= image_tag "uefs.png" %>
    <%= image_tag "arcplan.png" %>
    <%= image_tag "pne.png" %>
    <%= image_tag "vale.png" %>
    <%= image_tag "ipam.png" %>
    <%= image_tag "agro-satelite.png" %>
    <%= image_tag "solved.png" %>

    <h1>FINANCING</h1>
    <div class="financing">
      <%= image_tag "moore.png", class: "moore" %>
      <%= image_tag "nicfi.png", class: "nicfi" %>
      <%= image_tag "good-energies.png", class: "good-energies" %>
    </div>
    <div class="financing">
      <%= image_tag "climate.png" %>
      <%= image_tag "instituto-arapyau.png" %>
    </div>

    <h1>TECHNOLOGY PARTNERS</h1>
    <%= image_tag "ecostage.png" %>
    <%= image_tag "google.png" %>
    <%= image_tag "terras.png" %>

    <h1>INSTITUTIONAL SUPPORT</h1>
    <%= image_tag "ids.png" %>
    <%= image_tag "avina.png" %>
    <%= image_tag "wri.png" %>
    <%= image_tag "tnc-brasil.png" %>
  </div>
</article>
