<script>
$(function() {
  $(".video").click(function () {
    var theModal = $(this).data("target"),
    videoSRC = $(this).attr("data-video"),
    videoSRCauto = videoSRC + "?modestbranding=0&rel=0&controls=1&showinfo=1&html5=1&autoplay=1";
    $(theModal + ' iframe').attr('src', videoSRCauto);
    $(theModal).removeClass("fade");
    $(theModal + ' button.close').click(function () {
      $(theModal).addClass("fade");
      $(theModal + ' iframe').attr('src', videoSRC);
    });
  });
});
</script>

<section class="home__video">
  <div class="home__video-content">
    <p><%= image_tag "brand.svg" %></p>
    <p>O <strong>MapBiomas</strong> é uma iniciativa multi institucional envolvendo universidades, ONGs e empresas de tecnologia que se uniram para contribuir com o entendimento das transformações do território brasileiro a partir do mapeamento anual da cobertura e uso do solo no Brasil.</p>
    <a href="https://youtu.be/3icm9jwtu-k" target="_blank" class="btn btn-orange">Veja como foi o lançamento da coleção 3</a>
    <button class="btn btn-blue video" data-video="https://www.youtube.com/embed/QmwI5b8aTSg" data-toggle="modal" data-target="#videoModal">Assista ao vídeo do projeto</button><br />
  </div>
  <video autoplay loop id="video-background" muted poster="https://storage.googleapis.com/mapbiomas/Mapbiomas55sec.jpg">
    <source src="https://storage.googleapis.com/mapbiomas/Mapbiomas55sec.mp4" type="video/mp4">
  </video>
</section>

<div class="modal-video fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <button type="button" class="button primary close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <iframe width="100%" height="350" src="" frameborder="0" allowfullscreen></iframe>
</div>

<section class="section--white">
  <div class="container">
    <h1 class="container__title container__title--blue">Novidades do MApBiomas 3.0</h1>

    <div class="container container--grid">
      <div class="container__column container__column--6">
        <div class="news__item">
          <h3>Série histórica ampliada</h3>
          Agora os dados cobrem um período de 33 anos, com dados anuais de cobertura e uso do solo e mudanças de uso da terras desde 1985 a 2017.
        </div>
      </div>
      <div class="container__column container__column--6">
        <div class="news__item">
          <h3>Inspetor de elementos</h3>
          Ao clicar em um ponto do mapa você pode acessar todas camadas de informação disponíveis e ativas.
        </div>
      </div>
      <div class="container__column container__column--6">
        <div class="news__item">
          <h3>Novos recortes territoriais e informações do CAR</h3>
          Os mapas e estatísticas agora podem ser consultados por vaior recortes territoriais além de Biomas, Estados e Municípios. Novas opções incluem Bacias Hidrográficas, Unidades de Conservação, Terras Indígenas e Cadastro Ambiental Rural.
        </div>
      </div>
      <div class="container__column container__column--6">
        <div class="news__item">
          <h3>Informações da infraestrutura</h3>
          Dados históricos da infraestrutura de energia e transportes do Brasil foram incorporados incluindo estradas, ferrovias, aeroportos, hidroelétricas, termelétricas e linhas de transmissão entre outros.
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--gray">
  <div class="container">
    <h1 class="container__title container__title--green">cobertura e uso do solo</h1>
    <p class="text-center">Acesse mapas e dados anuais de cobertura e uso do solo do Brasil de 1985 a 2017.</p>
    <div class="container container--grid">
      <div class="container__column container__column--4">
        <%= image_tag "icon-10.svg" %>
          <br />Cobertura
      </div>
      <div class="container__column container__column--4">
        <%= image_tag "icon-08.svg" %>
          <br />Mudança
      </div>
      <div class="container__column container__column--4">
        <%= image_tag "icon-07.svg" %>
          <br />Estatísticas
      </div>
      <div class="container__column container__column--4">
        <%= image_tag "icon-09.svg" %>
          <br />Qualidade
      </div>
    </div>
    <p class="text-center"><a href="/map#coverage" class="btn btn-green">Acesse a plataforma</a></p>
  </div>
</section>

<section class="section--grayish">
  <div class="container">
    <h1 class="container__title text-center container__title--orange">Infográficos</h1>
    <p class="text-center">Acesse os infográficos da Coleção 3 do MapBiomas</p>

    <div class="container text-center container__image--margin">
      <div class="container__image">
        <a href="/infograficos-2018/brasil.jpg" target="_blank"><img src="infograficos-2018/brasil.jpg"></a>
      </div>
      <div class="container__image-list">
        <div class="container__image-item">
          <a href="/infograficos-2018/amazonia.jpg" target="_blank"><img src="infograficos-2018/amazonia.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/caatinga.jpg" target="_blank"><img src="infograficos-2018/caatinga.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/cerrado-a.jpg" target="_blank"><img src="infograficos-2018/cerrado-a.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/mata-atlantica.jpg" target="_blank"><img src="infograficos-2018/mata-atlantica.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/pampa.jpg" target="_blank"><img src="infograficos-2018/pampa.jpg"></a>
        </div>
        <div class="container__image-item">
          <a href="/infograficos-2018/pantanal.jpg" target="_blank"><img src="infograficos-2018/pantanal.jpg"></a>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="section--gray">
  <div class="container">
    <h1 class="container__title text-center container__title--green">EM REDE COM MAPBIOMAS</h1>
    <p class="text-center">Interaja com a rede do MapBiomas. Crie seus mapas, tire dúvidas, participe das discussões e compartilhe suas experiências.</p>
    <div class="container container--grid">
      <div class="container__column container__column--4">
        <%= image_tag "icon-06.svg" %>
          <br />Crie mapas personalizados
      </div>
      <div class="container__column container__column--4">
        <%= image_tag "icon-11.svg" %>
          <br />Participe do nosso forúm
      </div>
      <div class="container__column container__column--4">
        <%= image_tag "icon-04.svg" %>
          <br />Tire dúvidas em nosso FAQ
      </div>
      <div class="container__column container__column--4">
        <%= image_tag "icon-03.svg" %>
          <br />Download de documentos
      </div>
    </div>
    <div class="text-center"><a href="/users/sign_in" class="btn btn-green">Acesse a plataforma</a></div>
  </div>
</section>

<section class="section--grayish">
  <div class="container">
    <h1 class="container__title container__title--blue">ENTENDA COMO É FEITO O MAPBIOMAS</h1>
    <p class="text-center">Conheça a metodologia do MapBiomas e como a rede se organiza para gerar os mapas e dados de cobertura e uso do solo.</p>
      <div class="text-center"><a href="/pages/atbd" class="btn btn-blue">Acesse a metodologia</a></div>
  </div>
</section>

<section class="home__partners">
  <div class="container">
    <div class="home__partners-content">
      <h1 class="container__title container__title--green">Iniciativa MapBiomas</h1>
      <div class="text-center">
        <%= image_tag "oc.png", class: "home__partners-image" %>
        <%= image_tag "seeg.png", class: "home__partners-image" %>
      </div>

      <h2>CO-CRIADORES</h2>
      <div class="container__title--imagens">
        <%= image_tag "lapig.png" %>
        <%= image_tag "sos-pantanal.png" %>
        <%= image_tag "sos-mata-atlantica.png" %>
        <%= image_tag "imazon.png" %>
        <%= image_tag "ufrgs.png" %>
        <%= image_tag "uefs.png" %>
        <%= image_tag "arcplan.png" %>
        <%= image_tag "pne.png" %>
        <%= image_tag "vale.png" %>
        <%= image_tag "ipam.png" %>
        <%= image_tag "agro-satelite.png" %>
        <%= image_tag "solved.png" %>
      </div>

      <h2>FINANCIAMENTO</h2>
      <div class="financing">
        <%= image_tag "moore.png", class: "moore" %>
        <%= image_tag "nicfi.png", class: "nicfi" %>
        <%= image_tag "good-energies.png", class: "good-energies" %>
        <%= image_tag "climate.png" %>
        <%= image_tag "instituto-arapyau.png" %>
      </div>

      <h2>PARCEIROS DE TECNOLOGIA</h2>
      <div class="container__title--imagens">
        <%= image_tag "ecostage.png" %>
        <%= image_tag "google.png" %>
        <%= image_tag "terras.png" %>
      </div>

      <h2>APOIO INSTITUCIONAL</h2>
      <div class="container__title--imagens">
        <%= image_tag "ids.png" %>
        <%= image_tag "avina.png" %>
        <%= image_tag "wri.png" %>
        <%= image_tag "tnc-brasil.png" %>
      </div>
    </div>
  </div>
</section>
