<article class="page">
  <div class="page__container">
    <h1 class="page__title">Mural Map</h1>
    <p>Download for printing purpose:</p>
    <!-- <%= link_to 'TiFF (209 MB)', "https://storage.googleapis.com/mapbiomas/assets/colecao-2-3/Mapa_Mapbiomas_2015_Col2_3_Albers.tif", target: "_blank" %></li> -->

    <div class="container text-center container__image--margin">
      <div class="container__image">
        <a href="https://storage.googleapis.com/mapbiomas/mapas-murais/Mapa_Mapbiomas_2017_Col3.pdf" target="_blank">
          <%= image_tag "mapas-murais/brasil.jpg" %>
        </a>
      </div>
      <div class="container__image-list">
        <div class="container__image-item">
          <a href="https://storage.googleapis.com/mapbiomas/mapas-murais/Mapa_Mapbiomas_2017_Col3_amazonia.pdf" target="_blank">
            <%= image_tag "mapas-murais/amazonia.jpg" %>
          </a>
        </div>
        <div class="container__image-item">
          <a href="https://storage.googleapis.com/mapbiomas/mapas-murais/Mapa_Mapbiomas_2017_Col3_caatinga.pdf" target="_blank">
            <%= image_tag "mapas-murais/caatinga.jpg" %>
          </a>
        </div>
        <div class="container__image-item">
          <a href="https://storage.googleapis.com/mapbiomas/mapas-murais/Mapa_Mapbiomas_2017_Col3_cerrado.pdf" target="_blank">
            <%= image_tag "mapas-murais/cerrado.jpg" %>
          </a>
        </div>
        <div class="container__image-item">
          <a href="https://storage.googleapis.com/mapbiomas/mapas-murais/Mapa_Mapbiomas_2017_Col3_Mata_Atlantica.pdf" target="_blank">
            <%= image_tag "mapas-murais/mata-atlantica.jpg" %>
          </a>
        </div>
        <div class="container__image-item">
          <a href="https://storage.googleapis.com/mapbiomas/mapas-murais/Mapa_Mapbiomas_2017_Col3_Pampa.pdf" target="_blank">
            <%= image_tag "mapas-murais/pampa.jpg" %>
          </a>
        </div>
        <div class="container__image-item">
          <a href="https://storage.googleapis.com/mapbiomas/mapas-murais/Mapa_Mapbiomas_2017_Col3_Pantanal.pdf" target="_blank">
            <%= image_tag "mapas-murais/pantanal.jpg" %>
          </a>
        </div>
      </div>
    </div>

  </div>
</article>
