<article class="page page--methodology">
  <section class="section--grayish section--bottom">
    <div class="container">
      <h1 class="container__title container__title--green">ATBD</h1>
      <div class="text-center">
        <p>From MapBiomas Collection 2 the methodological notes were replaced by the ATBD (Algorithm Theoretical Basis Document) which describes the entire process of map development and production and the algorithms used.</p>
        <p>ATBD is a living document that is constantly updated to aggregate new information and learning.</p>
        <p>there is a general ATBD and a group of appendix that cover the details and specificities of each biome and cross cutting themes.</p>
      </div>
    </div>
  </section>

  <section class="section--gray">
    <div class="container">
      <h1 class="container__title container__title--green">ATBD GENERAL</h1>

      <div class="text-center">
        <div class="methodology-presentation">
          <%= link_to 'versão 3.0', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/1-ATBD-Collection-3-version-1.pdf", {target: "_blank"} %>
        </div>
      </div>
    </div>
  </section>

  <section class="section--grayish section--top">
    <div class="container">


    <h1 class="container__title container__title--green">APPENDIX</h1>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'AMAZON', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Amazonia-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'CAATINGA', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Caatinga-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'CERRADO', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Cerrado-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'ATLANTIC RAINFOREST', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/MataAtlantica-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'PANTANAL', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Pantanal-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'PAMPA', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Pampa%20Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
<%= link_to 'AGRICULTURE AND FOREST PLANTATION', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Agriculture-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
    <%= link_to 'PASTURE', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Pasture-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
    <%= link_to 'COASTAL ZONE', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Zone-Mining-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    </div>
  </section>
</article>
