<article class="page page--methodology">
  <div class="page__container">
    <h1 class="page__title">ATBD</h1>

    <p>A partir da Coleção 2 do MapBiomas as notas metodológicas foram substituídas pelo ATBD (Algorithm Theoretical Basis Document) que descreve todo o processo de desenvolvimento e produção dos mapas e os algoritmos utilizados.</p>

    <p>O ATBD é um documento vivo que é atualizado constantemente para agregar novas informações e aprendizados.</p>
    <p>Existe um ATBD Geral para o MapBiomas e outros tratando das especificidades de cada bioma ou tema.</p>

    <h2 class="page__title">ATBD GERAL</h2>

    <p>[<%= link_to 'versão 2.0', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-2_3/ATBD-MapBiomas-Geral-2018-01-07.pdf", {target: "_blank"} %>]</p>

    <h2 class="page__title">ATBDs POR BIOMAS</h2>

    <div class="methodology-presentation">
      <%= image_tag "amazonia.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Amazônia', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-2_3/MapBiomas%20-%20ATBD%20-%20Amazonia%20-%20Col2.3%202018-01-06.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "caatinga.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Caatinga', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-2_3/ATBD-R%20-%20Bioma%20Caatinga%20-24-12-2017.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "cerrado.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Cerrado', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-2_3/MapBiomas%20-%20ATBDCerrado%20-%20Cole%C3%A7%C3%A3o%202.3%20-%2022dez17.docx-2.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "mata_atlantica.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Mata Atlântica', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-2_3/MapBiomas%20-%20ATBD%20Mata%20Atlantica_v10_com_RF_col23.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "pantanal.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Pantanal', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-2_3/MapBiomas%20-%20ATBD%20Pantanal_v8_com_RF_col23.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "pampa.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Pampa', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-2_3/ATBD_R%20Pampa%2015Dez2017_c23_ENG.pdf", {target: "_blank"} %>
      </div>
    </div>

    <h2 class="page__title">ATBD POR TEMAS TRANSVERSAIS</h2>

    <%= link_to '[Agricultura]', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD_R-Agricultura-e-Floresta-Plantada-Colecao2-02-05-2017_en.pdf", {target: "_blank"} %> |
    <%= link_to '[Pecuária]', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD-R+-+Pastagem+-+2017-03-15.pdf", {target: "_blank"} %> |
    <%= link_to '[Zona Costeira]', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD_R-Zona_Costeira-2017-11-30.pdf", {target: "_blank"} %>

    <!--<p><%= image_tag "methodology.png" %></p>-->

  </div>
</article>
