<article class="page page--methodology">
  <div class="page__container">
    <h1 class="page__title">ATBD</h1>

    <p>A partir da Coleção 2 do MapBiomas as notas metodológicas foram substituídas pelo ATBD (Algorithm Theoretical Basis Document) que descreve todo o processo de desenvolvimento e produção dos mapas e os algoritmos utilizados.</p>

    <p>O ATBD é um documento vivo que é atualizado constantemente para agregar novas informações e aprendizados.</p>
    <p>Existe um ATBD Geral para o MapBiomas e outros tratando das especificidades de cada bioma ou tema.</p>

    <h2 class="page__title">ATBD GERAL</h2>

    <p>[<%= link_to 'versão 1.0 - Coleção 2', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD+MapBiomas+Geral+2017-03-22.pdf", {target: "_blank"} %>]</p>

    <h2 class="page__title">ATBDs POR BIOMAS</h2>

    <div class="methodology-presentation">
      <%= image_tag "amazonia.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Amazônia', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD-R+-+Bioma+Amaz%C3%B4nia+-+2017-03-16.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "caatinga.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Caatinga', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD-R+-+Bioma+Caatinga+-2017-03-21(1).pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "cerrado.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Cerrado', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD-R-Bioma-Cerrado-2017-05-04.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "mata_atlantica.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Mata Atlântica', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD-R+-+Mata+Atlantica+-+2017-03-17.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "pantanal.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Pantanal', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD-R+-+Bioma+Pantanal+-+2017-03-17.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "pampa.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Pampa', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD_R+-+Bioma+Pampa+2017-03-22.pdf", {target: "_blank"} %>
      </div>
    </div>

    <h2 class="page__title">ATBD POR TEMAS TRANSVERSAIS</h2>

    <%= link_to '[Agricultura]', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD_R-Agricultura-e-Floresta-Plantada-Colecao2-02-05-2017_en.pdf", {target: "_blank"} %> |
    <%= link_to '[Pecuária]', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD-R+-+Pastagem+-+2017-03-15.pdf", {target: "_blank"} %> |
    <%= link_to '[Zona Costeira]', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/ATBD_R+-+Zona+Costeira+-+2017-03-24.pdf", {target: "_blank"} %>

    <!--<p><%= image_tag "methodology.png" %></p>-->

  </div>
</article>
