<article class="page page--methodology">
  <div class="page__container">
    <h1 class="page__title">Metodologia</h1>

    <h2 class="page__title">Co-Criação em Rede</h2>

    <p>O MapBiomas é promovido pelo <a href="http://www.observatoriodoclima.eco.br/" target="_blank">SEEG/Observatório do Clima</a> e co-criado por uma rede de ONGs, universidade e empresas envolvidas no projeto. A metodologia de trabalho é desenvolvida ao mesmo tempo que são gerados protótipos rápidos para testar as hipóteses de caminhos para o processamento e classificação das imagens.</p>

    <p>As instituições estão baseadas em nove estados e operam de forma independente mas conectada. Os scripts e todo material de trabalho é compartilhado numa plataforma comum em três ambientes: <a href="https://earthengine.google.com/" target="_blank">Google Earth Engine</a>, Google Drive & Cloud Storage e <a href="http://mapbiomas.org/workspace" target="_blank">MapBiomas Workspace</a>.</p>

    <h2 class="page__title">Notas Metodológicas</h2>

    <p>As etapas do trabalho estão descritas na <strong>Nota Metodológica V1.0</strong>, que pode ser encontrada
    <strong><%= link_to ' aqui', "https://storage.googleapis.com/mapbiomas/Metodologia_Mapbiomas_23Nov2015.pdf", {target: "_blank"} %></strong>.</p>

    <h2 class="page__title">Apresentações por Biomas</h2>

    <p>Para os biomas foi preparado um conjunto de slides que explica a dinâmica e as especificidades do trabalho em cada bioma. Eles podem ser baixados em:</p>

    <div class="methodology-presentation">
      <%= image_tag "amazonia.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Amazônia', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/Amazonia_MapBiomas_Colecao+1+abril2016.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "pantanal.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Pantanal', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/RelatorioColecao1_Pantanal_abril2016_v4.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "caatinga.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Caatinga', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20CAATINGA%20-%2023.11.2015.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "mata_atlantica.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Mata Atlântica', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/RelatorioColecao1_mata_atlantica_abril2016_v2.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "cerrado.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Cerrado', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20CERRADO%20-%2023.11.2015.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "pampa.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Pampa', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/Relato%CC%81rioColec%CC%A7a%CC%83o1_Pampa_22Abr2016.pdf", {target: "_blank"} %>
      </div>
    </div>

    <h2 class="page__title">Apresentações por Temas Transversais</h2>

    <p>Para os temas transversáis também foi preparado um conjunto de slides que explica a dinâmica e as especificidades do trabalho em cada tema transversal. Eles podem ser baixados em:</p>

    <%= link_to '[Agricultura]', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/Relato%CC%81rio_Metodologia_Colec%CC%A7a%CC%83o+1_Agricultura+e+Florestas+Plantadas.pdf", {target: "_blank"} %> |
    <%= link_to '[Pecuária]', "https://s3.amazonaws.com/mapbiomas-ecostage/Base+de+dados/Metodologia/Relato%CC%81rio_Metodologia_Colec%CC%A7a%CC%83o+1_Pastagem.pdf", {target: "_blank"} %> |
    <%= link_to '[Zona Costeira]', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20ZONA%20COSTERIA%20-%2023.11.2015.pdf", {target: "_blank"} %>

    <p><%= image_tag "methodology.png" %></p>
  </div>
</article>
