<article class="page page--methodology">


  <section class="section--grayish section--bottom">
    <div class="container">
      <h1 class="container__title container__title--green">ATBD</h1>
      <div class="text-center">
        <p>A partir da Coleção 2 do MapBiomas as notas metodológicas foram substituídas pelo <strong>ATBD (Algorithm Theoretical Basis Document)</strong> que descreve todo o processo de desenvolvimento e produção dos mapas e os algoritmos utilizados.</p>

        <p>O ATBD é um documento vivo que é atualizado constantemente para agregar novas informações e aprendizados.</p>

    <p>Existe um ATBD Geral para o MapBiomas com um conjunto de apêndices que detalha as especificidades do método e algoritmos
      para cada bioma de tema transversal</p>
      </div>
    </div>
  </section>

  <section class="section--gray">
    <div class="container">
      <h1 class="container__title container__title--green">ATBD GERAL</h1>

      <div class="text-center">
        <div class="methodology-presentation">
          <%= link_to 'versão 3.0', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/1-ATBD-Collection-3-version-1.pdf", {target: "_blank"} %>
        </div>
      </div>
    </div>
  </section>

  <section class="section--grayish section--top">
    <div class="container">


    <h1 class="container__title container__title--green">APÊNDICES</h1>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'Amazônia', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Amazonia-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'Caatinga', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Caatinga-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'Cerrado', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Cerrado-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'Mata Atlântica', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/MataAtlantica-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'Pantanal', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Pantanal-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
        <%= link_to 'Pampa', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Pampa%20Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
<%= link_to 'Agricultura', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Agriculture-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
    <%= link_to 'Pecuária', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Pasture-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <div class="methodology-presentation__title">
    <%= link_to 'Zona Costeira', "https://storage.googleapis.com/mapbiomas/base-de-dados/metodologia/colecao-3_0/Zone-Mining-Appendix-ATBD-Colec%CC%A7a%CC%83o-3-V1.pdf", {target: "_blank"} %>
      </div>
    </div>
    </div>
  </section>
</article>
