<article class="page page--methodology">
  <div class="page__container">
    <h1 class="page__title">Metodologia</h1>

    <h2 class="page__title">Co-Criação em Rede</h2>

    <p>O MapBiomas é promovido pelo SEEG/Observatório do Clima  e co-criado em rede por um conjunto de ONGs, universidade e empresas envolvidas no projeto. A metodologia de trabalho vai sendo desenhada ao mesmo tempo que vao sendo gerados protótipos rápidos para testar as hipóteses de caminhos para o processamento e classificação das imagens.</p>

    <p>As instituições estão baseadas em nove estados e operam de forma independente mas conectada. Os scripts e todo material de trabalho é compartilhado numa plataforma comum de trabalho em três ambientes: Google Earth Engine Playground, Google Drive e MapBiomas Workspace.</p>

    <h2 class="page__title">Notas Metodológicas</h2>

    <p>As etapas do trabalho estão descritas na <strong>Nota Metodológica V1.0</strong>, que pode ser encontrada
    <strong><%= link_to ' aqui', "https://storage.googleapis.com/mapbiomas/Metodologia_Mapbiomas_23Nov2015.pdf", {target: "_blank"} %></strong>.</p>

    <h2 class="page__title">Apresentações por Biomas</h2>

    <p>Para os biomas foi preparado um conjunto de slides que explica a dinâmica e as especificidades do trabalho em cada bioma. Eles podem ser baixados em:</p>

    <div class="methodology-presentation">
      <%= image_tag "amazonia.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Amazônia', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20AMAZONIA%20-%2023.11.2015.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "pantanal.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Pantanal', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20PANTANAL%20-%2023.11.2015.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "caatinga.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Caatinga', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20CAATINGA%20-%2023.11.2015.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "mata_atlantica.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Mata Atlântica', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20MATA%20ATLANTICA%20-%2023.11.2015.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "cerrado.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Cerrado', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20CERRADO%20-%2023.11.2015.pdf", {target: "_blank"} %>
      </div>
    </div>
    <div class="methodology-presentation">
      <%= image_tag "pampa.png" %>
      <div class="methodology-presentation__title">
        <%= link_to 'Pampa', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20PAMPA%20-%2023.11.2015.pdf", {target: "_blank"} %>
      </div>
    </div>

    <h2 class="page__title">Apresentações por Temas Transversais</h2>

    <p>Para os temas transversáis também foi preparado um conjunto de slides que explica a dinâmica e as especificidades do trabalho em cada tema transversal. Eles podem ser baixados em:</p>

    <%= link_to '[Agricultura e Pecuária]', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20AGRICULTURA%20-%2025.11.2015.pdf", {target: "_blank"} %> |
    <%= link_to '[Zona Costeira]', "https://storage.googleapis.com/mapbiomas/slides/Apres%20Site%20MapBiomas%20-%20ZONA%20COSTERIA%20-%2023.11.2015.pdf", {target: "_blank"} %>
  </div>
</article>
