<article class="page">
  <div class="page__container">
    <h1 class="page__title">Launch Collection 2</h1>
    <h2 class="page__subtitle">Recording Launch Collection 2 Seminar</h2>
    <iframe height="360" class="responsive-iframe" src="https://www.youtube.com/embed/g9a_IzUbG68" frameborder="0" allowfullscreen></iframe>

    <h2 class="page__subtitle">Presentations of the Seminar of Launching of the Collection 2</h2>

    <p>Download the presentations in pdf on the links below:</p>

    <ul>
      <li><strong><%= link_to 'Agricultura e Florestas Plantadas', "https://s3.amazonaws.com/mapbiomas-ecostage/lancamento-colecao-2/2o+Seminario+-+Agricultura+e+Florestas+Plantadas.pdf", target: "_blank" %></strong></li>
      <li><strong><%= link_to 'Amazon', "https://s3.amazonaws.com/mapbiomas-ecostage/lancamento-colecao-2/2o_Seminario_MapBiomas_Amazonia.pdf", target: "_blank" %></strong></li>
      <li><strong><%= link_to 'Caatinga', "https://s3.amazonaws.com/mapbiomas-ecostage/lancamento-colecao-2/2o_Seminario_MapBiomas_CAATINGA.pdf", target: "_blank" %></strong></li>
      <li><strong><%= link_to 'Atlantic Forest and Pantanal', "https://s3.amazonaws.com/mapbiomas-ecostage/lancamento-colecao-2/2o_Seminario_MapBiomas_MataAtlantica_e_Pantanal.pdf", target: "_blank" %></strong></li>
      <li><strong><%= link_to 'Pastagem', "https://s3.amazonaws.com/mapbiomas-ecostage/lancamento-colecao-2/2o_Seminario_MapBiomas_Pastagem.pdf", target: "_blank" %></strong></li>
      <li><strong><%= link_to 'Cerrado', "https://s3.amazonaws.com/mapbiomas-ecostage/lancamento-colecao-2/2o_Seminario_Mapbiomas_Cerrado.pdf", target: "_blank" %></strong></li>
      <li><strong><%= link_to 'Pampa', "https://s3.amazonaws.com/mapbiomas-ecostage/lancamento-colecao-2/2o_Seminario_Mapbiomas_Pampa.pdf", target: "_blank" %></strong></li>
    </ul>
  </div>
</article>
