<article class="page">
  <div class="page__container">
    <h1 class="page__title">Equipe</h1>

    <!-- Coordenação -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.coordination') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/coordenacao/tasso.png');">
          </div>
          <figcaption class="team__name">Tasso Azevedo <small class="team__small"><%= t('layouts.header.about.team.general_coordination') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/carlos-souza-jr.png');">
          </div>
          <figcaption class="team__name">Carlos Souza Jr.<small class="team__small"><%= t('layouts.header.about.team.scientific_coordination') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Cerrado-->
    <div class= "team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.cerrado') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/ane-alencar.png');">
          </div>
          <figcaption class="team__name">Ane Alencar <small class="team__small"><%= t('layouts.header.about.team.coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/isa-alencar.png');">
          </div>
          <figcaption class="team__name">Isa Alencar<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/vera-arruda.png');">
          </div>
          <figcaption class="team__name">Vera Arruda<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/derli-piontekowski.png');">
          </div>
          <figcaption class="team__name">Derli Piontekowski<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/marina-cangiano.png');">
          </div>
          <figcaption class="team__name">Marina Cangiano<br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/isabel-castro.png');">
          </div>
          <figcaption class="team__name">Isabel Castro<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/camila-balzani.png');">
          </div>
          <figcaption class="team__name">Camila Balzani<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/julia-shimbo.png');">
          </div>
          <figcaption class="team__name">Julia Shimbo<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/felipe-lentini.png');">
          </div>
          <figcaption class="team__name">Felipe Lenti <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/vivian-ribeiro.png');">
          </div>
          <figcaption class="team__name">Vivian Ribeiro <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/joao-ribeiro.png');">
          </div>
          <figcaption class="team__name">João Ribeiro <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/cerrado/ricardo-souza.png');">
          </div>
          <figcaption class="team__name">Ricardo Souza <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Caatinga -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.caatinga') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/washington-franca.png');">
          </div>
          <figcaption class="team__name">Washington Franca <small class="team__small"><%= t('layouts.header.about.team.coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/juvenal.png');">
          </div>
          <figcaption class="team__name">Juvenal lima<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/deorgia.png');">
          </div>
          <figcaption class="team__name">Deórgia Souza <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/barros.png');">
          </div>
          <figcaption class="team__name">Ardemirio Barros Silva <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/cynthia.png');">
          </div>
          <figcaption class="team__name">Cynthia Regina<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/soltan.png');">
          </div>
          <figcaption class="team__name">Soltan Galano<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/sarah.png');">
          </div>
          <figcaption class="team__name">Sarah Moura<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/Jocimara.png');">
          </div>
          <figcaption class="team__name">Jocimara Souza Britto Lobão <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/willian.png');">
          </div>
          <figcaption class="team__name">Willian Aguiar <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/jose-luiz.png');">
          </div>
          <figcaption class="team__name">José Luiz Viera<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/danusa.png');">
          </div>
          <figcaption class="team__name">Danusa <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/sayli.png');">
          </div>
          <figcaption class="team__name">Sande Oliveira<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/marjorie.png');">
          </div>
          <figcaption class="team__name">Marjorie Cseco Nolasco<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/diego-costa.png');">
          </div>
          <figcaption class="team__name">Diego Costa<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/marcus.png');">
          </div>
          <figcaption class="team__name">Marcus Rios<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/Joselita.png');">
          </div>
          <figcaption class="team__name">Joselisa Maria Chaves<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/alejandro.png');">
          </div>
          <figcaption class="team__name">Alejandro Rosenfeld <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/rodrigo.png');">
          </div>
          <figcaption class="team__name">Rodrigo Vasconcelos<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/frans.png');">
          </div>
          <figcaption class="team__name">Frans<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/caatinga/thaison.png');">
          </div>
          <figcaption class="team__name">Thaison Monteiro<br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Amazonia -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.amazon') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/carlos-souza-jr.png');">
          </div>
          <figcaption class="team__name">Carlos Souza Jr.<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/rodney-salomao.png');">
          </div>
          <figcaption class="team__name">Rodney Salomão<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/julia-ribeiro.png');">
          </div>
          <figcaption class="team__name">Julia Ribeiro<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/joao-victor-siqueira.png');">
          </div>
          <figcaption class="team__name">João Victor Siqueira<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/antonio-fonseca.png');">
          </div>
          <figcaption class="team__name">Antonio Fonseca<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/dalton-cardoso.png');">
          </div>
          <figcaption class="team__name">Dalton Cardoso<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/amazonia/marcelo-justino.png');">
          </div>
          <figcaption class="team__name">Marcelo Justino<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Pantanal -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.atlantica_pantanal') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/marcos-rosa.png');">
          </div>
          <figcaption class="team__name">Marcos Rosa <small class="team__small"><%= t('layouts.header.about.team.coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/jaqueline-freitas.png');">
          </div>
          <figcaption class="team__name">Jaqueline Freitas<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/viviane-mazin.png');">
          </div>
          <figcaption class="team__name">Viviane Mazin<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/eduardo-reis-rosa.png');">
          </div>
          <figcaption class="team__name">Eduardo Reis Rosa<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pantanal/fernando-frizeira-paternost.png');">
          </div>
          <figcaption class="team__name">Fernando Frizeira Paternost<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Pampa -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.pampa') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/henrich-hasenack.png');">
          </div>
          <figcaption class="team__name">Heinrich Hasenack <small class="team__small"><%= t('layouts.header.about.team.coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/eduardo-velez.png');">
          </div>
          <figcaption class="team__name">Eduardo Vélez<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/eliseu-werber.png');">
          </div>
          <figcaption class="team__name">Eliseu Weber<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/bruna-zanatta.png');">
          </div>
          <figcaption class="team__name">Bruna Zanatta<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/carmem-oliveira.png');">
          </div>
          <figcaption class="team__name">Carmem Oliveira<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/fernando-pires.png');">
          </div>
          <figcaption class="team__name">Fernando Pires<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/gabriel-holmann.png');">
          </div>
          <figcaption class="team__name">Gabriel Holmann<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/gilvan-andrade.png');">
          </div>
          <figcaption class="team__name">Gilvan Andrade<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/jones-silva.png');">
          </div>
          <figcaption class="team__name">Jones Silva <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pampa/rafael-borges.png');">
          </div>
          <figcaption class="team__name">Rafael Borges <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Costeira -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.coastal_zone') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/pedro-walfir.png');">
          </div>
          <figcaption class="team__name">Pedro Walfir <small class="team__small"><%= t('layouts.header.about.team.coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/wilson-da-rocha-nascimento-jr.png');">
          </div>
          <figcaption class="team__name">Wilson da Rocha Nascimento Jr <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>.
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/luis-augusto-oliveira.png');">
          </div>
          <figcaption class="team__name">Luis Augusto Oliveira <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/cesar-diniz.png');">
          </div>
          <figcaption class="team__name">Cesar Diniz <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/luiz-cortinhas.png');">
          </div>
          <figcaption class="team__name">Luiz Cortinhas <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/gilberto-nerino.png');">
          </div>
          <figcaption class="team__name">Gilberto Nerino <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/costeira/jhonatan-rodrigues.png');">
          </div>
          <figcaption class="team__name">Jhonatan Rodrigues <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Pastagem -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.pasture') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/laerte-ferreira.png');">
          </div>
          <figcaption class="team__name">Laerte Ferreira <small class="team__small"><%= t('layouts.header.about.team.coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/manuel-ferreira.png');">
          </div>
          <figcaption class="team__name">Manuel Ferreira <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/leandro-leal.png');">
          </div>
          <figcaption class="team__name">Leandro Leal<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/fernando-araujo.png');">
          </div>
          <figcaption class="team__name">Fernando Araujo <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/adriano-faria.png');">
          </div>
          <figcaption class="team__name">Adriano Faria <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/vinicius-mesquita.png');">
          </div>
          <figcaption class="team__name">Vinicius Mesquita <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/ana-paula-silva.png');">
          </div>
          <figcaption class="team__name">Ana Paula Silva <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/gislaine-camargo.png');">
          </div>
          <figcaption class="team__name">Gislaine Camargo <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/jaila-souza.png');">
          </div>
          <figcaption class="team__name">Jaila Souza <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/lana-teixeira.png');">
          </div>
          <figcaption class="team__name">Lana Teixeira <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/umberto-moreira.png');">
          </div>
          <figcaption class="team__name">Umberto Moreira <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/sergio-nogueira.png');">
          </div>
          <figcaption class="team__name">Sergio Nogueira <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/andressa-goncalves-araujo.png');">
          </div>
          <figcaption class="team__name">Andressa Gonçalves Araújo<br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/rhuan-bruno-silva-santiago.png');">
          </div>
          <figcaption class="team__name">Rhuan Bruno Silva Santiago<br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/pastagem/tamires-adila-modanez.png');">
          </div>
          <figcaption class="team__name">Tamires Ádila Modanêz<br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Agricultura -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.agriculture') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/bernardo-rudorff.png');">
          </div>
          <figcaption class="team__name">Bernardo Rudorff <small class="team__small"><%= t('layouts.header.about.team.coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/moises-salgado.png');">
          </div>
          <figcaption class="team__name">Moisés Salgado<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/joel-risso.png');">
          </div>
          <figcaption class="team__name">Joel Risso<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/daniel-aguiar.png');">
          </div>
          <figcaption class="team__name">Daniel Aguiar<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/fabio-goncalves.png');">
          </div>
          <figcaption class="team__name">Fábio Gonçalves <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/barbara-ferreira.png');">
          </div>
          <figcaption class="team__name">Barbara Ferreira <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/camila-homann.png');">
          </div>
          <figcaption class="team__name">Camila Homann <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/rafael-rossi-viegas.png');">
          </div>
          <figcaption class="team__name">Rafael Rossi Viegas <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/marciano-saraiva.png');">
          </div>
          <figcaption class="team__name">Marciano Saraiva <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/frederic-kirchhoff.png');">
          </div>
          <figcaption class="team__name">Frederic Kirchhoff <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/agricultura/heron-martins.png');">
          </div>
          <figcaption class="team__name">Heron Martins <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Dev Terras -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.terras_developers') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/rafael-guerra.png');">
          </div>
          <figcaption class="team__name">Rafael Guerra <small class="team__small"><%= t('layouts.header.about.team.workspace_coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/joao-siqueira.png');">
          </div>
          <figcaption class="team__name">João Siqueira<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/joao-manoel-soares.png');">
          </div>
          <figcaption class="team__name">João Manoel Soares <br /> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/dyeden-monteiro.png');">
          </div>
          <figcaption class="team__name">Dyeden Monteiro<br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/victor-lins.png');">
          </div>
          <figcaption class="team__name">Victor Lins <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/pedro-ramos.png');">
          </div>
          <figcaption class="team__name">Pedro Ramos <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/diego-silva.png');">
          </div>
          <figcaption class="team__name">Diego Silva <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-terras/diego-silva.png');">
          </div>
          <figcaption class="team__name">Pedro Ramos <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Dev Ecostage -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.ecostage_developers') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/sergio-oliveira.png');">
          </div>
          <figcaption class="team__name">Sergio Oliveira <small class="team__small"><%= t('layouts.header.about.team.dashboard_coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/marcelo-piva.png');">
          </div>
          <figcaption class="team__name">Marcelo Piva<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/luiza-peixe.png');">
          </div>
          <figcaption class="team__name">Luiza Peixe <small class="team__small"><%= t('layouts.header.about.team.designer') %></small> <span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/mateus-medeiros.png');">
          </div>
          <figcaption class="team__name">Mateus Medeiros<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/kaio-max.png');">
          </div>
          <figcaption class="team__name">Kaio Max<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/karydja-souza.png');">
          </div>
          <figcaption class="team__name">Karyd'ja Souza<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/phillipp-oliveira.png');">
          </div>
          <figcaption class="team__name">Phillipp Oliveira<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/devs-ecostage/paulo-favato.png');">
          </div>
          <figcaption class="team__name">Paulo Favato<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Google -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.google_partners') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/david-thau.png');">
          </div>
          <figcaption class="team__name">David Thau<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/rebecca-moore.png');">
          </div>
          <figcaption class="team__name">Rebecca Moore<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/chris-herwig.png');">
          </div>
          <figcaption class="team__name">Chris Herwig <br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/juliana-dib-resende.png');">
          </div>
          <figcaption class="team__name">Juliana Dib Resende<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/igor-nazarenko.png');">
          </div>
          <figcaption class="team__name">Igor Nazarenko <br /> <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/google/brian-sullivan.png');">
          </div>
          <figcaption class="team__name">Brian Sullivan <br /> <span class="team__no-collection"></span><span class="team__no-collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Assessoria Tecnica - Suporte -->
    <div class="team__line">
      <h2 class="team__title">Assessoria Técnica</h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/suporte/joao-siqueira.png');">
          </div>
          <figcaption class="team__name">João Siqueira<br /> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/suporte/marcio-henrique-sales.png');">
          </div>
          <figcaption class="team__name">Marcio Henrique Sales
            <small class="team__small"><%= t('layouts.header.about.team.statistical') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <!-- Registro -->
    <div class="team__line">
      <h2 class="team__title"><%= t('layouts.header.about.team.record') %></h2>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/capobianco.png');">
          </div>
          <figcaption class="team__name">Capobianco <small class="team__small"><%= t('layouts.header.about.team.record_coordinator') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/daniela-ades.png');">
          </div>
          <figcaption class="team__name">Daniela Ades
            <small class="team__small"><%= t('layouts.header.about.team.communication_counsellor') %></small><span class="team__collection"></span><span class="team__no-collection"></span><span class="team__no-collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/sandro.png');">
          </div>
          <figcaption class="team__name">Sandro <small class="team__small"><%= t('layouts.header.about.team.documentarian') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/mariana-oliveira.png');">
          </div>
          <figcaption class="team__name">Mariana Oliveira <small class="team__small"><%= t('layouts.header.about.team.project_management') %></small> <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/marcelo-copolla.png');">
          </div>
          <figcaption class="team__name">Marcelo Copolla
            <small class="team__small"><%= t('layouts.header.about.team.communication_counsellor') %></small>
          <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/marcelo-matsumoto.png');">
          </div>
          <figcaption class="team__name">Marcelo Matsumoto
            <small class="team__small"><%= t('layouts.header.about.team.wri_project_management') %></small>
          <span class="team__collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/mario-barroso.png');">
          </div>
          <figcaption class="team__name">Mario Barroso
            <small class="team__small"><%= t('layouts.header.about.team.scientific_committee_secretary') %></small>
          <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/leonardo-baungarten.png');">
          </div>
          <figcaption class="team__name">Leandro Baungarten
            <small class="team__small"><%= t('layouts.header.about.team.tnc_project_management') %></small>
          <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
      <div class="team__item">
        <figure class="team__personal">
          <div class="team__image"
            style="background-image: url('https://storage.googleapis.com/mapbiomas/equipes/registro/emma.png');">
          </div>
          <figcaption class="team__name">Emma Lima<br />
          <span class="team__no-collection"></span><span class="team__collection"></span><span class="team__collection"></span></figcaption>
        </figure>
      </div>
    </div>

    <p> Este ícone <span class="team__collection"></span> representa cada uma das coleções do MapBiomas (1,2,3)</p>
    <p> <span class="team__collection"></span> Participou da equipe na coleção</p>
    <p> <span class="team__no-collection"></span> Não participou da equipe na coleção</p>
  </div>
</article>
