<article class="page">
  <div class="page__container">
    <h1 class="page__title">Workspace</h1>

    <p>O MapBiomas Workspace é o ambiente de trabalho da plataforma. É através dela que a equipe de biomas do MapBiomas acessa as ferramentas do Earth Engine, sem a necessidade de entrar em linhas de código de programação.</p>

    <p>Os desenvolvedores e programadores criaram um aplicativo que organiza o fluxo de trabalho e permite que cada analista e membro da equipe consiga operar em paralelo, na mesma plataforma e com total controle de todas as variáveis importantes para gerar o melhor mosaico de imagens e a melhor classificação para cada carta ou região de trabalho.</p>

    <p>O Workspace será aberto para colaboradores de outras instituições participarem do MapBiomas ou mesmo desenvolver outros projetos. Esta modalidade será implementada ao longo de 2016. Interessados já podem contudo experimentar a plataforma como visitantes. Podem processar dados porém sem salvar alterações de parâmetros.</p>

    <p>Para visitar a plantaforma do workspace acesse aqui:
    <%= link_to 'http://workspace.mapbiomas.org', "http://workspace.mapbiomas.org", {target: "_blank"} %></p>

    <p><br><%= image_tag "workspace.jpg" %></p>

    <h2 class="page__title">SCRIPT MAPBIOMAS COLEÇÃO 2</h2>

    <p>O Scritp da Coleção 2 do MapBiomas no Google Earth Engine é publico e pode ser <a href="https://s3.amazonaws.com/mapbiomas-ecostage/mapbiomas-script-colecao-2.txt" target="_blank">baixado aqui</a></p>

    <p>Para acessar e rodar siga as seguintes instruções:</p>

    <ul>
      <li>Com uma conta Gmail cadastre-se na Plataforma Google Earth Engine através deste link
      <%= link_to 'https://earthengine.google.com', "https://earthengine.google.com", {target: "_blank"} %></li>
      <li>Dentro de alguns dias você receberá a autorização de acesso a plataforma.</li>
      <li>Uma vez cadastrado no Google Earth Engine entre no CODE EDITOR da plataforma e cole/insira o script do MapBiomas.</li>
      <li>Altere os parâmetros para obter o mapa desejado. Por exemplo, você pode escolher um biomas ou estado, diferentes períodos de aquisição de imagens, máximo de cobertura de nuvens, parâmetros de classificação etc.</li>
    </ul>

    <p>Encorajamos que os usuários do SCRIPT MAPBIOMAS nos enviem suas sugestões de inovação para que possamos aprimorá-lo constantemente.</p>

    <p><br><%= image_tag "google-earth-engine.jpg" %></p>

    <h2 class="page__title">EARTH COLLECT</h2>

    <p>Para realizar análise de acurácia dos mapas produzidos pelo MapBiomas uma das estratégias é coletar amostras com análise visual em imagens de alta resolução. Serão cerca de 20 mil pontos de amostragem, cada qual com nove amostras replicadas por três analistas diferentes.</p>

    <p>Para gerenciar a coleta de amostras aderimos ao programa Collect Earth desenvolvido pela FAO para realizar amostras de inventário florestal.</p>

    <p>O programa é originalmente em formato desktop. Para adaptar ao trabalho em rede do MapBiomas está em desenvolvimento o aplicativo WebCollect que permitirá que múltiplos analistas trabalhem em paralelo os projetos de amostragem de cada bioma.</p>

    <p>A versão Beta do WebCollect pode ser visualizada aqui:
    <%= link_to 'http://webcollect.mapbiomas.org', "http://webcollect.mapbiomas.org", {target: "_blank"} %></p>

    <p><br><%= image_tag "webcollect.png" %></p>

  </div>
</article>
