<footer class="footer">
  <div class="footer__partners">
    <div class="footer__seeg">
      <h4 class="seeg-label"><%= t('layouts.footer.provided_by') %></h4>
      <a href="http://seeg.eco.br/" target="_blank" class="seeg">
        <%= image_tag "seeg.png", class: "footer__image" %>
      </a>
    </div>
    <div class="footer__gee">
      <h4 class="gee-label"><%= t('layouts.footer.powered_by') %></h4>
      <a href="https://earthengine.google.com/" target="_blank" class="gee">
        <%= image_tag "gee-transparent.png", class: "footer__image" %>
      </a>
    </div>
  </div>
  <div className=“menu__item translation main-nav__menu__item main-nav__translation”>
   <i className=“material-icons translation__icon”>&#xE8E2;</i>
   <a className=“menu__link translation__link”
     href=“#”
     onClick={setLocale('pt-BR')}>
     PT-BR
   </a>
   <a className=“menu__link translation__link”
     href=“#”
     onClick={setLocale('en')}>
     EN
   </a>
 </div>
  <div class="footer__copyright">
    &copy; <%= Time.zone.now.year %> <%= t('layouts.footer.copyright') %>
  </div>
  <div class="footer__ecostage">
    <h4 class="ecostage-label"><%= t('layouts.footer.development') %></h4>
    <a href="http://www.ecostage.com.br" target="_blank" class="ecostage">
      <%= image_tag "ecostage.svg", class: "footer__image" %>
    </a>
  </div>
</footer>

<script type="text/javascript">
  function setLocale(locale) {
    Locale.setLocale({locale: locale}).done(function() {
      window.location.reload();
    }).error(function(){
      alert(I18n.t("map.index.locales.warning"));
    });
  }
</script>
